DB_PATH=./Company.db
GMAIL_CREDENTIALS_PATH=./Gmail_API_Setup/credentials.json
GMAIL_TOKEN_PATH=./Gmail_API_Setup/token.json
GROQ_API_KEY=your_groq_key_here
FROM_EMAIL=your_verified_gmail@gmail.com
LEAD_SERVICES=xyz, abc, lmnop  # Customize services in emails
